html {
    height: 100%;
    width: 100%;
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 2px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: gray;
}

.button:hover {
    background-color: #cbeccb;
}

.row {
    margin: 8px;
}

.row input {
    width: 235px;
    margin: 0;
    padding: 8px 31px;
    border: 2px solid black;
    border-radius: 5px;
}